.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 50px;
  background-color: #2d1b30;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;

  a {
    color: #fff;

    &:hover {
      opacity: 0.9;
      transition: all 0.15s;
    }
  }
}
